.navbar-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;   
}

.logo-nav{
    padding: 8px 40px 0 23px;
}

.menu-nav{
    flex: 3;
}

.navbar-btn{
    /* flex:2   */
    padding: 5px 20px;
    height: 40px;
    box-sizing: border-box;
}

/* .menu-nav > ul >  li{
    height: 40px;
    text-align: center;
    margin: 0 0;
    padding: 5px 20px;
    box-sizing: border-box;
    cursor: pointer;
} */

.navbar-btn:hover{
    background-color: rgba(203, 203, 209, 0.842);
}

/* ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
} */

